pipeline/DL - Raw Copy - CSV - KRONOS.json
{
	"name": "DL - Raw Copy - CSV - KRONOS",
	"properties": {
		"activities": [
			{
				"name": "Raw Copy",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"maxConcurrentConnections": 1,
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 0
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"maxConcurrentConnections": 1
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"enableSkipIncompatibleRow": true,
					"redirectIncompatibleRowSettings": {
						"linkedServiceName": {
							"referenceName": "ErrorOutput",
							"type": "LinkedServiceReference"
						},
						"path": {
							"value": "@concat(pipeline().parameters.sourceSystemName,'/','erroroutput')",
							"type": "Expression"
						}
					},
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_KRONOS",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@replace(pipeline().parameters.SourceName,'-000000','')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_CSV_DL",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@{pipeline().parameters.SourceName}",
								"type": "Expression"
							},
							"folderPath": {
								"value": "raw/@{pipeline().parameters.FolderPath}/@{pipeline().parameters.YearId}/@{pipeline().parameters.MonthId}",
								"type": "Expression"
							},
							"containerName": {
								"value": "@pipeline().parameters.containerName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Update Load Summary",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Wait 2 sec -Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Logging].[UpdateLoadSummary]",
					"storedProcedureParameters": {
						"batchId": {
							"value": {
								"value": "@pipeline().parameters.batchId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"sourceSystemName": {
							"value": {
								"value": "@pipeline().parameters.sourceSystemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"sourceName": {
							"value": {
								"value": "@{pipeline().parameters.SourceName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunID ": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ingestionStart": {
							"value": {
								"value": "@activity('Raw Copy').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"rowCountSource": {
							"value": {
								"value": "@activity('Raw Copy').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"rowCountDestination": {
							"value": {
								"value": "@activity('Raw Copy').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ingestionEnd": {
							"value": {
								"value": "@addseconds(activity('Raw Copy').output.executionDetails[0].start,activity('Raw Copy').output.executionDetails[0].duration)",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Status": {
							"value": {
								"value": "@activity('Raw Copy').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDWDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Wait 2 sec -Success",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Raw Copy",
						"dependencyConditions": [
							"Succeeded",
							"Failed",
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 2
				}
			}
		],
		"parameters": {
			"sourceSystemName": {
				"type": "string"
			},
			"batchId": {
				"type": "string"
			},
			"SourceName": {
				"type": "string"
			},
			"FolderPath": {
				"type": "string"
			},
			"YearId": {
				"type": "string"
			},
			"MonthId": {
				"type": "string"
			},
			"containerName": {
				"type": "string"
			}
		},
		"variables": {
			"YearId": {
				"type": "String"
			},
			"MonthId": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}