pipeline/PL_ABS_ASGC_FILES_TO_STG.json
{
	"name": "PL_ABS_ASGC_FILES_TO_STG",
	"properties": {
		"description": "Copy ABS Australian Standard Geographical Classification (ASGC) data to staging.",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 1,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FILE_BINARY",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": {
								"value": "@pipeline().parameters.SourcePath",
								"type": "Expression"
							},
							"FileName": "*"
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetTableName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableName",
								"value": {
									"value": "@if(startswith(item().name,'POA'), 'ASGC_POA'\n, if(startswith(item().name,'LGA'), 'ASGC_LGA'\n, if(startswith(item().name,'SSC'), 'ASGC_SSC'\n, if(startswith(item().name,'RA'), 'RefASGCRemotenessArea'\n, ''))))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "LoadValidToStg",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SetTableName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(createArray('ASGC_POA','ASGC_LGA','ASGC_SSC','RefASGCRemotenessArea'), variables('TableName'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "SP_FILE_TO_PSTG",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "Utils.uspProcessTable",
											"storedProcedureParameters": {
												"FieldTerminator": {
													"value": ",",
													"type": "String"
												},
												"FileName": {
													"value": {
														"value": "@item().name",
														"type": "Expression"
													},
													"type": "String"
												},
												"RowTerminator": {
													"value": "0x0d0a",
													"type": "string"
												},
												"StagingSchema": {
													"value": {
														"value": "@pipeline().parameters.StagingSchema",
														"type": "Expression"
													},
													"type": "String"
												},
												"TimestampSeparator": {
													"value": "_",
													"type": "String"
												},
												"TableName": {
													"value": {
														"value": "@variables('TableName')",
														"type": "Expression"
													},
													"type": "String"
												},
												"SourcePath": {
													"value": {
														"value": "@pipeline().parameters.SourcePath",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_ASDB_KALON_DW",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "PSTG_TO_REF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEachFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Trfm].[uspLoadRefLocalGovernmentArea]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASDB_KALON_DW",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"SourcePath": {
				"type": "String",
				"defaultValue": "/asgcfiles/"
			},
			"StagingSchema": {
				"type": "String",
				"defaultValue": "Stg"
			}
		},
		"variables": {
			"TableName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-02-04T05:36:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}