pipeline/PL_OVERALL_LOAD_FILE_TO_STG.json
{
	"name": "PL_OVERALL_LOAD_FILE_TO_STG",
	"properties": {
		"description": "Copy data to staging and archive the source file.",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 1,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FILE_BINARY",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": {
								"value": "@pipeline().parameters.SourcePath",
								"type": "Expression"
							},
							"FileName": "*"
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "COPY_TO_ARCHV",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SP_FILE_TO_PSTG",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": true
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_FILE_BINARY",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@pipeline().parameters.SourcePath",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_FILE_BINARY",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@pipeline().parameters.ArchivePath",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "DEL_SRC_FILE",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "COPY_TO_ARCHV",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_FILE_BINARY",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@pipeline().parameters.SourcePath",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false
							}
						},
						{
							"name": "SP_FILE_TO_PSTG",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "Utils.uspProcessTable",
								"storedProcedureParameters": {
									"FieldTerminator": {
										"value": "0x1e",
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowTerminator": {
										"value": "0x0d0a",
										"type": "string"
									},
									"StagingSchema": {
										"value": {
											"value": "@pipeline().parameters.StagingSchema",
											"type": "Expression"
										},
										"type": "String"
									},
									"TimestampSeparator": {
										"value": "_",
										"type": "String"
									},
									"SourcePath": {
										"value": {
											"value": "@pipeline().parameters.SourcePath",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASDB_KALON_DW",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "FilterFiles",
				"description": "",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(and(and(equals(item().type, 'File'), endswith(item().name, '.csv')),contains(item().name, '_')), contains(split(activity('GetTableList').output.firstRow.TableList,';')\n, substring(item().name,0,indexof(item().name,'_'))) )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetTableList",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "Utils.uspGetTableList",
						"storedProcedureParameters": {
							"StagingSchema": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StagingSchema",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASDB_STG",
						"type": "DatasetReference",
						"parameters": {
							"tableschema": "\"\"",
							"tablename": "\"\""
						}
					}
				}
			}
		],
		"parameters": {
			"SourcePath": {
				"type": "String",
				"defaultValue": "/sourcefiles/"
			},
			"ArchivePath": {
				"type": "string",
				"defaultValue": "/archivefiles/"
			},
			"StagingSchema": {
				"type": "String",
				"defaultValue": "Stg"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-02-09T05:00:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}