pipeline/Prep works Part 2.json
{
	"name": "Prep works Part 2",
	"properties": {
		"activities": [
			{
				"name": "Incremental load Tables - load initial",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from [dbo].[IncrementalWithInitialLoadsParts]\nwhere InitialLoadCompleted=0"
					},
					"dataset": {
						"referenceName": "SourceDataset_Dynamic_DW",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "IncrementalWithInitialLoadsParts"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Initial loads Parts",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Incremental load Tables - load initial",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Incremental load Tables - load initial').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Log initial load -Incremental",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Wait 2 sec",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Logging].[GenerateLoadSummary]",
								"storedProcedureParameters": {
									"batchId": {
										"value": {
											"value": "@pipeline().parameters.batchId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"folderPath": {
										"value": {
											"value": "@item().FolderPath",
											"type": "Expression"
										},
										"type": "String"
									},
									"loadType": {
										"value": {
											"value": "@item().LoadType",
											"type": "Expression"
										},
										"type": "String"
									},
									"modifiedDateUTC": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"pipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"sourceName": {
										"value": {
											"value": "@item().SourceName",
											"type": "Expression"
										},
										"type": "String"
									},
									"sourceNamePrefix": {
										"value": {
											"value": "@item().SourceNamePrefix",
											"type": "Expression"
										},
										"type": "String"
									},
									"sourceSystemName": {
										"value": {
											"value": "@item().SourceSystemName",
											"type": "Expression"
										},
										"type": "String"
									},
									"sourceSystemType": {
										"value": {
											"value": "@item().SourceSystemType",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "In Progress",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDWDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Wait 2 sec",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						}
					]
				}
			},
			{
				"name": "incremental loads delta",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource"
					},
					"dataset": {
						"referenceName": "SourceDataset_Dynamic_DW",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "IncrementalLoadsDelta"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "delta loads",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "incremental loads delta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('incremental loads delta').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Log delta load -Incremental",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Wait 2 sec delta",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Logging].[GenerateLoadSummary]",
								"storedProcedureParameters": {
									"batchId": {
										"value": {
											"value": "@pipeline().parameters.batchId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"folderPath": {
										"value": {
											"value": "@item().FolderPath",
											"type": "Expression"
										},
										"type": "String"
									},
									"loadType": {
										"value": {
											"value": "@item().LoadType",
											"type": "Expression"
										},
										"type": "String"
									},
									"modifiedDateUTC": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"pipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"sourceName": {
										"value": {
											"value": "@item().SourceName",
											"type": "Expression"
										},
										"type": "String"
									},
									"sourceNamePrefix": {
										"value": {
											"value": "@item().SourceNamePrefix",
											"type": "Expression"
										},
										"type": "String"
									},
									"sourceSystemName": {
										"value": {
											"value": "@item().SourceSystemName",
											"type": "Expression"
										},
										"type": "String"
									},
									"sourceSystemType": {
										"value": {
											"value": "@item().SourceSystemType",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "In Progress",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDWDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Wait 2 sec delta",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						}
					]
				}
			}
		],
		"parameters": {
			"batchId": {
				"type": "string",
				"defaultValue": "77"
			}
		},
		"variables": {
			"SqlServerList": {
				"type": "Array"
			},
			"CSVList": {
				"type": "Array"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}